{{ define "main" }}

{{ partial "navigation.html" . }}

{{ $data := index .Page.Data .Site.Language.Lang }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1>{{ .Title }}</h1>
        <ul class="list-inline mb-50">
          {{ if .Params.Author }}
          <li class="list-inline-item"><a
              href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}">{{ .Params.Author }}</a></li>
          {{ end }}
          {{ if .Date }}
          <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
          {{ end }}
        </ul>
        <img class="img-fluid mb-50" src="{{ .Params.Image | absURL }}" alt="blog-image">
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content ">
          <hr />
          {{ .Content }}
          <hr />
          <div class="container-block">
            <div class="table-responsive">
              <div class="tour-container">
                <div class="media p-3">
                  <div class="align-self-start mr-3">
                    <i class="ti-announcement"></i>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Informationen</h4>
                    <table class="tour-table">
                      <tr>
                        <td><i class="ti-star"> Schwierigkeit</i></td>
                        <td>{{ $.Param "difficulty" }}</td>
                      </tr>
                      <tr>
                        <td><i class="ti-direction"> L&auml;nge</i></td>
                        <td>{{ $.Param "length" }}</td>
                      </tr>
                      <tr>
                        <td><i class="ti-alarm-clock"> Reine Gehzeit</i></td>
                        <td>{{ $.Param "time" }}</td>
                      </tr>
                      {{ if $.Param "height_max" }}
                      <tr>
                        <td><i class="ti-ruler"> Max. H&ouml;he</i></td>
                        <td>{{ $.Param "height_max" }}</td>
                      </tr>
                      {{ end }}
                      {{ if $.Param "height" }}
                      <tr>
                        <td><i class="ti-ruler"> Aufstieg</i></td>
                        <td>{{ $.Param "height" }}</td>
                      </tr>
                      {{ end }}
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="tour-container">
              <div class="media p-3">
                <div class="align-self-start mr-3">
                  <i class="ti-user"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Ausr&uuml;stung</h4>
                  {{ $.Param "equipment" }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="all-post text-center col-lg-12">
          <a class="btn btn-main"
            href="{{ `blog` | absLangURL }}">{{ i18n "viewAllPost" }}</a>
        </div>
        {{ if .Site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}
        <!-- comments -->
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}